footer {
    position: relative;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    margin: 180px 140px 140px 140px;
    opacity: 0;
    transition: all 0.8s;
    &:before {
        display: block;
        content: " ";
        background-image: url(../img/Symbol.png);
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
    }
}
